lib-cov
*.ps1
*.bat
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
.sass-cache
.idea
.DS_Store
.vscode

pids
logs
results
_dist
_output
node_modules
resources/bower-components
resources/templating/exported
resources/scss/styles.tmp.scss
resources/js/templates/templates.js
_sprites-icons-sprite.*
sprites
npm-debug.log
